<div class="container">
  <h3><%= @restaurant.name %></h3>

  <p>category: <%= @restaurant.category %></p>
  <p>address: <%= @restaurant.address %></p>
  <p>phone: <%= @restaurant.phone_number %></p>

  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <% end %>
  </ul>

  <%= link_to "Return to list", restaurants_path, class: 'btn btn-sm btn-secondary'  %>
</div>

